@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: white;
}

.body {
  font-size: 2em;
  animation:
    growAndBlink 5s ease-in-out forwards,
    spinAndShrink 5s 5s linear forwards;
  opacity: 0;
}
